<div>
  <h1><%= "ブックマークした表現はこちらに追加されます"%></h1>
  <% @bookmarks.each do |bookmark| %>
  <%= bookmark.question.title %>
  <%= bookmark.question.answers.find_by(is_correct: true).body %>
  <br>
  <% end %>
</div>
